* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
:root {
    
    --blue-color:#2196f3;
    --main-color-alt:#1787e0;
    --dark-color:#19283f;
    --green-color:#33d1cc;
    --after-color:rgba(255, 255, 255, 0);
}
body {
    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #b3d4fc88;
}
ul {
    margin: 0;
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}
.container {
    width: 80%;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        min-width: 900px;
    }
}
@media (min-width: 1400px) {
    .container {
        min-width: 1200px;
    }
}
::-webkit-scrollbar {
    width: 10px;
}

  /* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 1px 1px 10px var(--dark-color); 
    border-radius: 5px;
}

  /* Handle */
::-webkit-scrollbar-thumb {
    background: var(--blue-color); 
    border-radius: 5px;
}

  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #0085c3;
}
/* start nav */
nav {
    z-index: 9;
    text-align: center;
    width: 100px;
    height: 100%;
    position:fixed;
    background-color:var(--blue-color);
    transition-duration: 0.6s;
    transition-timing-function:cubic-bezier(0.8, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
nav .label {
    display: none;
}
nav:hover {
    width: 180px;
}
nav h1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #19283f;
    height: 120px;
    padding: 30px;
    margin: 0;
    font-size: 50px;
    z-index: 1;
}
nav h1::before {
    content: "";
    position: absolute;
    width: 62px;
    height: 62px;
    background-color: var(--blue-color);
    z-index: -1;
    transform: rotate(45deg);
    border-radius: 10px;
}
nav:hover h1::before{
    transform: rotate(135deg);
    transition-duration: 0.7s;
}
nav ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
}
nav ul li {
    cursor: pointer;
    display: flex;
    margin: 10px 0 10px 10px;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 15px;
    position: relative;
    z-index: 5;
}
nav ul li::after {
    content: "";
    position: absolute;
    width: 120px;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-color:var(--after-color);
    border-radius: 10px;
    transition-duration: 0.6s;
}
nav ul li:hover::after {
    background-color: rgba(255, 255, 255, 0.350);
    box-shadow: 1px 1px 13px rgba(0, 0, 0, 0.274);
}
nav ul li i {
    color: white;
    padding: 10px 0 10px 10px;
    font-size: 20px;
}
nav ul li a {
    padding: 11px 20px 10px 10px;
    color: white;
    opacity: 0;
    transition-delay: 0.5s;
    transition-duration: 0.5s;
}
nav:hover a {
    opacity: 100%;
}
.arrow {
    height: 100px;
    display: flex;
    flex-direction: column;
    color: var(--dark-color);
    font-weight: bolder;
}
.arrow i {
    color: white;
    font-size: 22px;
    animation-name: change-position;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
    animation-timing-function:linear;
    position: relative;
}
.arrow:hover p {
    transition-duration: 0.5s;
    transform: scale(1.1);
}
@media (max-width: 1200px) {
    nav {
        z-index: 9;
        background-color: transparent;
        height: 0%;
        padding: 120px 200px 120px 30px;
        top:30%;
        left: 60px;
        transform: translateY(-50%) scale(1.2);
        text-align: center;
        position:fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        animation-name: nav-move;
        animation-delay: 3s;
        animation-duration: 2s;
        animation-iteration-count:3;
        animation-fill-mode:backwards;
        animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    }
    @keyframes nav-move {
        0% {
            transform: scale(1.2) translateY(-50%);
        }
        25% {
            transform: scale(1.3) rotate(-5deg) translateY(-50%);
        }
        50% {
            transform: scale(1.35) rotate(5deg) translateY(-50%);
        }
        100% {
            transform: scale(1.2) translateY(-50%);
        }
    }
    .nav_hover:hover {
        padding: 120px 200px 120px 50px;
    }
    nav .label {
        width: 100px;
        display: block;
        position: absolute;
        z-index: 2;
        bottom: 50px;
        color: var(--blue-color);
        background-color: white;
        border-radius:20px ;
        padding: 5px;
        font-size: 16px;
        font-weight: 600;
    }
    nav .label i {
        font-size: 20px;
    }
    .nav_hover:hover .label {
        display: none;
    }
    nav h1 {
        cursor: pointer;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;    
        color: white;
        height: 120px;
        padding: 30px;
        margin: 10px;
        font-size: 50px;
        z-index: 4;
        transition-duration: 0.6s;
        transition-timing-function:cubic-bezier(0.8, 0, 0, 0.5);
        background-color: transparent;
    }
    nav h1::after {
        content: "";
        position: absolute;
        width: 62px;
        height: 62px;
        background-color: var(--blue-color);
        z-index: -1;
        transform: rotate(45deg);
        border-radius: 10px;
    }
    nav h1::before {
        content: "";
        position: absolute;
        width: 62px;
        height: 62px;
        background-color: var(--dark-color);
        z-index: -1;
        border-radius: 10px;
    }
    nav .h1_hover:hover{
        transform: scale(1.4);
    }
    nav .h1_hover:hover::before{
        transform: rotate(90deg);
        transition-duration: 0.7s;
    }
    nav .h1_hover:hover::after{
        transform: rotate(-45deg);
        transition-duration: 0.7s;
    }
    nav ul {
        font-size: 18px;
        font-weight: bold;
        position: absolute;
        top:50%;
        transform: translateY(-50%);
        margin-left:80px;
    }
    nav ul li {
        margin: 0;
        position: absolute;
        top: -20px;
        right: 0px;
        opacity: 0%;
        transition-duration: 0.7s;
        background-color: white;
        border-radius:20px;
        box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.301);
    }
    nav ul li:hover::after {
        background-color: rgba(255, 255, 255, 0);
        box-shadow: 1px 1px 13px rgba(0, 0, 0, 0);
    }
    nav ul li i {
        color: var(--blue-color);
    }
    .nav_hover:hover ul li {
        transform: scale(1.2);
        opacity: 100%;
    }
    .nav_hover:hover ul #li1 {
        position: absolute;
        top: -135px;
        right: -50px;
    }
    .nav_hover:hover ul #li2 {
        position: absolute;
        top: -75px;
        right: -110px;
    }
    .nav_hover:hover ul #li3 {
        position: absolute;
        top: -15px;
        right: -140px;
    }
    .nav_hover:hover ul #li4 {
        position: absolute;
        top: 50px;
        right: -110px;
    }
    .nav_hover:hover ul #li5 {
        position: absolute;
        top: 110px;
        right: -50px;
    }
    nav ul li a {
        color: var(--main-color-alt);
    }
    .arrow {
        display: none;
    }
}
@keyframes change-position {
    0% {
        padding-top: 10px ;
    }
    50%{
        padding-top: 20px;
    }
    100% {
        padding-top: 10px;
    }
}
/* end nav */

.colored {
    color: var(--main-color-alt);
    margin-right: 5px;
    padding: 2px 5px;
    background-color:rgba(255, 255, 255, 0.882);
    border-radius:20px ;
}
/* start intro */
.intro {
    background-image:url(../imgs/back1.png);
    background-size: 45%;
    background-position: 58% ;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width:1200px){
    .intro {
        background-image:url(../imgs/back1.png);
        background-size: 80%;
        background-position: 58% ;
        background-repeat: no-repeat;
    }
}
@media (max-width:1000px){
    .intro {
        background-image:url(../imgs/wave.png);
        background-size: 1000px;
        background-repeat: no-repeat;
        background-position: 0 0 ;
    }
}
.intro .container {
    display: flex;
    align-content: center;
    justify-content: flex-end;
}
@media (max-width:1200px){
    .intro .container {
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap:20px;
    }
}
.intro img {
    width: 320px;
    border-radius: 50%;
    margin-left: 50px;
    box-shadow: 10px 0px 1px #ffffff5a ,20px 0px 2px #e5f3ff5d ,30px 0px 3px #b4ddff43;
    transform: rotate(-8deg);
}
@media (max-width:1200px){
    .intro img {
        margin: 0;
        width: 350px;
    }
}
@media (max-height:650px){
    .intro img {
        margin: 0;
        width: 280px;
    }
}

.intro .container .text {
    max-width: 40%;
    margin:0 80px ;
    padding-top: 20px;
}
@media (max-width:1200px){
    .intro .container .text {
        margin: 0;
        max-width: 60%;
    }
}
@media (max-height:650px){
    .intro .container .text {
        max-width: 60%;
    }
}
.intro .container .text .hello {
    text-transform: uppercase;
    font-size: 19px;
    font-weight: 600;
    padding-bottom: 10px;
}
.intro .container .text h2 {
    font-size: 50px;
    font-weight: 400;
    padding: 30px 0;
}
@media (max-height:650px){
    .intro .container .text h2 {
        padding: 15px 0;
    }
}
.intro .container .text .flash {
    text-align: justify;
    font-size: 21px;
    line-height: 30px;
}
.intro .container .text .flash .colored {
    font-weight: 600;
    padding: 0 5px;
}
.intro .container .social {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 15px;
}
@media (max-width:1200px){
    .intro .container .social {
        padding-top: 40px;
    }
}
.intro .container .social .resume {
    padding: 15px 30px;
    color: white;
    background-color: var(--blue-color);
    border-radius: 30px;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.362);
}
@media (max-height:650px){
    .intro .container .social {
        padding-top: 30px;
    }
}
.intro .container .social .resume:hover {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.288);
    transform: scale(1.05);
    transition-duration: 0.3s;
}
.intro .container .social .social-themes i {
    padding: 8px;
    margin: 5px;
    border-radius: 7px;
    font-size: 25px;
    color: var(--blue-color);
    background-color: #fafafa;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.116);
}
.intro .container .social .social-themes i:hover {
    transform: scale(1.1);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.288);
    transition-duration: 0.3s;
}
/* end intro */

/* start about */
.heading {
    padding-top: 10px;
    text-transform: uppercase;
}
.heading .heading-p {
    position: relative;
    padding-left: 90px;
    font-size: 12px;
}
.heading .heading-p::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 1px;
    background-color: #19283f;
    left: 0;
    bottom: 4px;
}
.heading h3 {
    padding: 20px 0px 30px 0;
    font-size: 34px;
    font-weight: 400;
}
.about {
    padding-top: 50px;
    padding-bottom: 200px;
    padding-left:80px ;
    display: flex;
    justify-content: center;
    align-self: center;
}
@media(max-width:1200px) {
    .about {
        padding-left:0 ;
    }
}
.about .container .text {
    background-color: white;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 500;
    padding: 40px;
    line-height: 35px;
}

/* end about */
/* start skills */
.skills .text {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    flex-basis: 1;
}
.skills .text .lang {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 90px;
    height: 90px;
    margin: 15px;
    padding: 5px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.212);
    text-align: center;
    border-radius: 20px;
}
.skills .text .lang:hover {
    transform: scale(1.1);
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.425);
    transition-duration: 0.3s;
}
.skills .text .lang p {
    font-size: 15px;
    color: var(--dark-color);
    font-weight: 600;
}
.skills .text .lang img {
    width: 50px;
}
/* end skills */

/* start projects */
.projects .container .show {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
}
.projects .container .show .icons a {
    display: flex;
    flex-direction: column;

}
.projects .container i{
    cursor: pointer;
    background-color: white;
    padding: 20px;
    border-radius: 50%;
    font-size: 20px;
    margin: 10px auto;
    transition-duration: 0.2s;
}
.projects .container i:hover {
    transform: scale(1.1);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.39);
}
.projects .container .text{
    position: relative;
    height: 400px;
    width: 85%;
    overflow: hidden;
}
@media (max-width:1200px) {
    .projects .container .text {
        height: 540px;
    }
}
.projects .text .project-card {
    opacity: 0%;
    position: absolute;
    bottom: -400px ;
    display: flex;
    justify-content: center;
    width: 90%;
    gap: 50px;
    padding: 30px;
    background-color: white;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.411);
    border-radius: 20px;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    left: 50%;
    transform: translateX(-50%);
}
@media (max-width:1200px) {
    .projects .text .project-card {
        flex-direction: column;
        align-items: center;
        width: 80%;
        gap: 20px;
        left: 50%;
        transform: translateX(-50%);
    }
}
.projects .text #s1 {
    bottom: 40px;
    opacity: 100%;
}
@keyframes slide-down {
    0% {
        bottom: 40px;
        opacity: 100%;
    }
    20% {
        bottom: 10px;
        opacity: 90%;
    }
    50% {
        opacity: 60%;
    }
    100% {
        bottom: 400px;
        opacity: 0%;
    }
}
@keyframes slide-up {
    0% {
        bottom: 40px;
        opacity: 100%;
    }
    20% {
        bottom: 70px;
        opacity: 90%;
    }
    50% {
        opacity: 60%;
    }
    100% {
        bottom: -400px;
        opacity: 0%;
    }
}
@keyframes scroll-up {
    0% {
        bottom: -400px;
        opacity: 0%;
    }
    100% {
        bottom: 40px;
        opacity: 100%;
    }
}
@keyframes scroll-down {
    0% {
        bottom: 400px;
        opacity: 0%;
    }
    100% {
        bottom: 40px;
        opacity: 100%;
    }
}
.projects .text .project-card .pro-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
@media (max-width:1200px) {
    .projects .text .project-card .pro-text{
        justify-content: center;
        text-align: center;
    }
}
.projects .text .project-card h5{
    font-size: 30px;
    font-weight: 300;
    padding: 10px 0 20px 0;
    margin: 0;
}
@media (max-width:1200px) {
    .projects .text .project-card h5{
        font-size: 30px;
        padding: 10px 0;
        margin-top: -10px;
    }
}
.projects .text .project-card img {
    max-width: 450px;
    box-shadow: 1px 1px 8px #f3faff;
}
@media (max-width:1200px) {
    .projects .text .project-card img  {
        max-width: 350px;
    }
}
@media (max-height:700px) {
    .projects .text .project-card img  {
        max-width: 350px;
    }
}
.projects .text .project-card .lang-used {
    color: rgba(0, 0, 0, 0.603);
}
@media (max-width:1200px) {
    .projects .text .project-card .lang-used {
        font-size: 16px;
    }
}
.projects .text .project-card .pro-flash{
    text-align: center;
    font-size: 15px;
    padding-bottom: 10px;
}
.project-card .visit {
    text-align: center;
    padding-top: 10px;
}
.projects .text .project-card .visit a{
    padding: 10px;
    background-color: var(--blue-color);
    color: white;
    margin: 0 20px;
    font-size: 16px;
    border-radius:20px ;
    position: relative;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.404);
}
.projects .show .dots {
    width: 30px;
    height: 100px;
}
.projects .show .dots span {
    display: block;
    position: relative;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    margin: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.336);
    overflow: hidden;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.projects .show .dots #d1 {
    background-color: var(--main-color-alt);
} 
@keyframes dot-out {
    0% {
        background-color: var(--main-color-alt) ;
    }
    50% {
        background-color: rgb(122, 175, 255) ;
        transform: scale(1.1);
    }
    100% {
        background-color: white;
        transform: scale(1);
    }
}
@keyframes dot-in {
    0% {
        background-color: white;
        transform: scale(1);
    }
    50% {
        background-color: rgb(122, 175, 255) ;
        transform: scale(1.1);
    }
    100% {
        background-color: var(--main-color-alt) ;
    }
}
/* end projects */

/* start contact */
.contact .text .cont-a {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.contact .text .cont-a .cont {
    display: flex;
    position: relative;
    flex-direction:column;
    align-items: center;
    height: 250px;
    width: 100%;
    margin: 20px;
    padding: 10px;
    background-color: #fafafa;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.295);
    border-radius: 30px;
}
.contact .text .cont-a .cont .fa-envelope{
    color: palevioletred;
    background-color: rgba(216, 112, 147, 0.274);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 100;
    border-radius: 50%;
}
.contact .text .cont-a .cont .fa-mobile-alt{
    color:green;
    background-color: rgba(172, 255, 47, 0.397);
    width: 50px;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 900;
    border-radius: 50%;
}
.contact .text .cont-a .cont a {
    text-decoration:underline;
    padding: 30px 0;
}
.contact .text .cont-a .cont .my-number {
    padding: 10px 0 5px 0;
}
.contact .text .cont-a .cont p:last-of-type {
    position: absolute;
    bottom: 15px;
} 
/* end contact */

/* start footer */
footer {
    height: 90px;
    position: relative;
    background-color: #19283f;
    padding: 30px;
    color: white;
    font-size: 22px;
    font-weight: 800;
    overflow: hidden;
    width: 100%;
}
footer p {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-40%) translateY(50%); 
}
footer  p span {
    padding: 5px !important;
}
footer::after{
    position: absolute;
    content: "";
    width: 50px;
    height: 100px;
    top: -60px;
    right: 18%;
    transform: skewX(-45deg) rotate(-55deg);
    background-color: var(--blue-color);
}
footer::before{
    position: absolute;
    content: "";
    width: 60px;
    height: 100%;
    top: 48px;
    left: 30%;
    transform: skewX(45deg) rotate(55deg);
    background-color: var(--blue-color);
}
/* end footer */